/* Index */
#index {
    background: linear-gradient(to bottom, #111E2F 40px, #080e1a);
    color: white;
    padding: 20px;
}

.cta-button {
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.index-content {
    margin-top: 100px;
    display: flex;
    flex-direction: column; /* Cambiamos a columna por defecto */
    align-items: center; /* Centramos los elementos */
    text-align: center;
}

.name-column,
.title-column {
    width: 100%; /* Ajustamos el ancho al 100% */
    max-width: 800px; /* Limitamos el ancho máximo */
    margin-bottom: 40px; /* Agregamos un margen inferior */
}

.name {
    color: #3983F5;
    font-size: 50px;
}

.title {
    font-size: 30px;
    margin-top: 60px;
}

.text1 {
    margin: 0 30px;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.social {
    margin: 0 14px;
    display: flex;
    align-items: center;
}

.social img {
    width: 25px;
    height: 25px;
}


.name-column
.title-column {
    flex: 1;
}

/* section */
.section-content {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
}


/* Media query para pantallas anchas */
@media (min-width: 1200px) {
    .index-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .name-column,
    .title-column {
        flex: 1;
        margin-bottom: 0; /* Eliminamos el margen inferior */
    }

    .social-links {
        margin-top: 0;
    }
    
    .cta-button {
        margin-top: 30px;
    }
}
